@font-face {
    font-family: 'gunny';
    src: url("ByteBard/mysite/blog/static/fonts/gunnyrewritten.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'gunny', sams-serif;
}

.main-blocks-wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 1 auto;
}


/* header */
.header{
    margin-bottom: 20px;
}

.header-nav-bar{
    font-size: 20px;
}

.header-container{
    padding: 0 120px;
}

.logo-text{
    padding-left: 8px;
}

.header-search{
    border-radius: 4px;
    color: white;
    background-color: white;
}

.navigator-toolbar{
    margin-left: 30px;
}

.my-dropdown {
    position: relative;
    display: inline-block;
}

.my-dropdown-toggle {
    color: white;
    padding: 10px;
}

.my-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: #343a40;
    border: 1px solid #6c757d;
    border-radius: 0.25rem;
    animation: fadeInUp 0.3s ease;
}

.my-dropdown:hover .my-dropdown-menu {
    display: block;
}

.my-dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    animation: fadeInUp 0.3s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.my-dropdown:hover .my-dropdown-item {
    animation: fadeInUp 0.3s ease;
}

.my-dropdown-item{
    text-decoration: none;
}

.my-dropdown-item:hover {
    background-color: #495057;
    text-decoration: none;
    animation: none;
}

.arrow-down {
    position: absolute;
    top: 50%;
    padding-left: 4px;
    padding-top: 6px;
    transform: translateY(-60%);
    font-size: 0.7em;
    opacity: 1;
    transition: opacity 0.3s ease;
}



/* login header */
 .registration-header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 420px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-icon {
    margin-right: 10px;
    cursor: pointer;
}

.header-text {
    font-size: 18px;
    font-weight: bold;
    margin-right: auto;
    cursor: pointer;
}

/* registration */
.registration-block {
    background-color: #fff;
    width: 420px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-block h2 {
    text-align: center;
    color: #333;
    padding-bottom: 20px;
}

.registration-form-wrapper {
    margin-bottom: 15px;

}

.registration-form-wrapper label {
    display: block;
    margin-bottom: 5px;
}



.registration-form-wrapper input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"]{
    width: 100%;
    padding: 6px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registration-button{
    background-color: rgb(70, 102, 156);
    color: #fff;
    margin-top: 20px;
    width: 130px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.registration-button:hover{
    background-color: rgb(57, 77, 110);
}

.login-url{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    width: 420px;
    height: 40px;
    padding-top: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(247, 245, 245);
}

.login-url a{
    text-decoration: none;
    padding-left: 20px;
}

/* post list */
.border{
    background-color: rgb(247, 245, 245);
}

.posts-main-header{
    background-color: rgb(247, 245, 245);
    text-align: center;
    padding-top: 20px;
}


.blog-description{
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.blog-post{
    margin-bottom: 40px;
    border-box: 1px;
    background-color: rgb(247, 245, 245);
    padding: 20px;
}

.blog-post-element{
    padding: 10px;
}

.border-post-elements h2{
    font-size: 30px;
}

.post-statistic {
    list-style: none;
    padding: 0;
    margin: 0;
}

.statistic-element {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
}

.statistic-element p {
    margin-left: 3px;
    padding-top: 18px;
}

.post-statistic-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    padding-left: 20px;
    list-style-type: none;
}

.post-statistic-element {
    display: flex;
    align-items: center;
}

.post-statistic-link {
    font-size: 20px;
}

.like-elements{
    padding-left: 30px;
}

.like-elements p{
    pointer-events: none;
}

.post-active-elements:hover {
    cursor: pointer;
    transform: scale(1.2);
    fill: #ff0000;
}

#likeButton {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.pagination{
    background-color: rgb(247, 245, 245);
    display: flex;
    justify-content: space-between;
}

.pagination a{
    text-decoration: none;
}

.pagination-element{
    padding-top: 10px;
}

.info-panel{
    padding-top: 10px;
    background-color: rgb(247, 245, 245);
}

.info-panel-name{
    padding-left: 20px;
}

.info-panel-element{
    padding-left: 20px;
}

.archive-block{
    background-color: rgb(247, 245, 245);
    margin-bottom: 20px;
}

.else-block{
    background-color: rgb(247, 245, 245);
}

/* post create */
.custom-editor-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
}

.custom-editor-title,
.custom-editor-content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    min-height: 40px;
    height: auto;
    outline: none;
}

.custom-editor-content {
    min-height: 700px;
    position: relative;
}

#editorContent {
    flex-grow: 1;
}

.image-container {
  position: relative;
  text-align: center;
}

.text-block {
  outline: none;
}

/* post detail */
.post-detail-wrapper{
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding-bottom: 20px;
    width: 1000px;
    background-color: rgb(247, 245, 245);
}

.annotate-post{
    display: flex;
    justify-content: row;
}

.annotate-post p{
    padding-top: 5px;
    padding-left: 6px;
}

.post-tags{
    display: flex;
    justify-content: row;
}

.post-tags p{
    padding-top: 5px;
    padding-left: 6px;
}

.post-comments{
    padding: 15px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    background-color: rgb(247, 245, 245);
}

.post-comments {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.comment-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.comment-info img {
  margin-right: 10px;
}

.comment-info-elements {
  display: flex;
  flex-direction: column;
}

.comment-info-elements p {
  margin: 0;
}

.comment-publish {
  color: #777;
}

.post-comments p {
  margin: 0;
}

.comment-form{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.comment-form-input{
    height: 90px;
}

.comment-form button {
    background-color: rgb(70, 102, 156);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: rgb(57, 77, 110);
}

.comment-register-text{
    text-align: center;
    padding-bottom: 12px;
    color: #777;
}

/* footer */
.footer-container{
    background-color: rgb(247, 245, 245);
    display: grid;
    place-items: center;
    margin-top: 50px;
    padding-top: 0;
    max-height: 100px;
}


